/* stylelint-disable color-no-hex */

@import 'style-guide-colors';

/*
 * Forbes Digital Assets Colors
 * ======================================================================== */

// ===== Base colors ===== //

$color-grey-0: '#ffffff';
$color-grey-10: '#cdcdcd';
$color-grey-20: '#d3d3d3';
$color-grey-30: '#939799';
$color-grey-40: '#A9A9A9';
$color-grey-80: "444443";
$color-grey-90: '#000000';

$color-blue: #4285f4;
$color-green: #0c7e2a;
$kelley-green: #093;
$color-red: #dc0000;
