@import '../shared';
@import '../shared/fonts.scss';

.theme {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.wrapper {
  padding: $site-spacing-lg 0;

  @include respond-to('medium') {
    padding: 40px 0;
  }

  @include respond-to('large') {
    padding: $site-spacing-xlg 0;
  }
}

.title {
  font: 800 40px/28px $font-merriweather;
  padding: $site-spacing-xsm $site-spacing-sm;

  @include respond-to('small') {
    font: 800 48px/32px $font-merriweather;
    padding: $site-spacing-xsm $site-spacing-lg;
  }

  @include respond-to('medium') {
    font: 800 68px/40px $font-merriweather;
  }
}

.secondaryTitle {
  color: $glitch;
  padding: 0;
}

.ctaButton {
  margin: 40px $site-spacing-sm 0;

  @include respond-to('small') {
    animation: breathing 4s infinite alternate;
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
