/* stylelint-disable selector-class-pattern */

@import-normalize;
@import 'shared';
@import 'shared/themes';
@import './shared/breakpoints.scss';
@import './shared/font-faces/';

/*
 * Base Styles
 * ======================================================================== */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font: 1rem/1.3 "Gill Sans Extrabold", sans-serif;
  font-feature-settings: 'kern';
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  color: inherit;
}

a:focus,
a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

fbs-cordial {
  margin-bottom: 1px;
}

.hide-scroll {
  overflow: hidden;
}
