@import '../../../styles/shared/';
@import '../../../styles/shared/fonts.scss';

.wrapper {
  background: linear-gradient(90deg, rgb(232, 245, 218) 0%, rgb(147, 197, 247) 35%, rgb(133, 161, 238) 89%, rgb(160, 193, 226) 97%, rgb(144, 197, 230) 100%);
  color: $site-black;
  padding: $site-spacing-lg 0;
  text-align: center;

  @include respond-to('medium') {
    padding: 48px 0;
  }

  @include respond-to('large') {
    padding: $site-spacing-xlg  0;
  }
}

.title {
  font: 600 32px/34px $font-merriweather;
  margin: 0 auto;
  width: 90%;

  @include respond-to('medium') {
    font: 600 50px/48px $font-merriweather;
    width: 80%;
  }

  @include respond-to('large') {
    font: 600 70px/64px $font-merriweather;
  }
}

.ctaButton {
  margin: $site-spacing-md 0;
  min-width: 200px;

  @include respond-to('medium') {
    margin: $site-spacing-lg 0;
  }

  @include respond-to('large') {
    margin: 40px 0;
  }
}

.description {
  font: 400 18px/24px $font-merriweather;
  margin: 0 auto;
  width: 80%;

  @include respond-to('medium') {
    font: 400 22px/32px $font-merriweather;
    width: 65%;
  }
}

.image {
  height: 100%;
  width: 65%;

  @include respond-to('medium') {
    width: 45%;
  }

  @include respond-to('large') {
    width: 35%;
  }
}
