/* latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'),
    url('https://i.forbesimg.com/assets/fonts/work-sans/work_sans_400_latin_ext.woff2')
      format('woff2');
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'),
    url('https://i.forbesimg.com/assets/fonts/work-sans/work_sans_400_latin.woff2')
      format('woff2');
}
