@import '../../../styles/shared';

/*
 * Page Styles
 * ======================================================================== */

.pageLayout {
  background: var(--background-color);
  overflow: hidden;
  width: 100%;
}
